* {
    margin: 0;
    padding: 0:
}

/* :root {
    scroll-behavior: smooth;
} */
.header {
    background-image: url(../img/beach.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main {
    height: 100%;
    width: 100%;
    position: absolute;
}

.menu {
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
}

.ul-main {
    width: 100%;
    height: 100%;
}

.ul-inner {
    height: 100%;
    width: 100%;
}

.ul-inner {
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.ul-one {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

a:hover {
    color: rgb(228, 214, 151);
}

.about-class {
    width: 100%;
    height: 100vh;
}

.product-class {
    width: 100%;
    height: 100vh;
}

.footer-class {
    width: 100%;
    height: 100px;
    background-color: rgb(5, 5, 5);
}

.about-class-inner {
    width: 100%;
    height: 100%;
    display: flex;
}

.about-class-inner-foto {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-class-inner-foto-one {
    width: 65%;
    height: 80%;
    background-image: url(../img/img-red.jpg);
    background-size: cover;
    background-position: center;
}

.about-class-inner-text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-class-inner-text-one {
    width: 65%;
    height: 80%;
}

.product-class-inner {
    width: 100%;
    height: 100%;
    display: flex;
}

.product-class-inner-foto {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-class-inner-foto-one {
    width: 65%;
    height: 80%;
    background-image: url(../img/camel.jpg);
    background-size: cover;
    background-position: center;
}

.product-class-inner-text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-class-inner-text-one {
    width: 65%;
    height: 80%;
}

.footer-class-inner {
    width: 100%;
    height: 100%;
}

.ul-main-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ul-inner-bottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.block {
    width: 100%;
}

.block-one {
    width: 100%;
    background-color: blue;
}

.block-two {
    width: 100%;
    background-color: rgb(0, 217, 255);
}

.block-three {
    width: 100%;
    background-color: rgb(255, 0, 85);
}

